ADMIN_PASSWORD="grandegmp123"
ADMIN_USERNAME="admin"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_XwC7ADQrXg2UptgW_ayihsbm1c1hsbvPfzF2XsWi2kmKQxg"
NEXTAUTH_SECRET="BVnGGjWsGz6WWuTtnA11ivCXl/Wp4QryjAuiXt37UvM="
NEXTAUTH_URL="http://localhost:3001"
NEXT_PUBLIC_SUPABASE_URL="https://wcefztlazazwhjpqojmy.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjZWZ6dGxhemF6d2hqcHFvam15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NDM2NTgsImV4cCI6MjA4ODMxOTY1OH0.-_vjvL13Jhy9TECBp12kq1uCU3T50GrFwupcUr7USQE"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjZWZ6dGxhemF6d2hqcHFvam15Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjc0MzY1OCwiZXhwIjoyMDg4MzE5NjU4fQ.7r_kAopehlhohUWb_FqOjc2lt7_nuqAxHvDtrEyIDek"
